@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width:420px) {
    body {
        height: 1530px;
        background-image: url('images/bg-pattern-bottom-mobile.svg'), url('images/bg-pattern-top-mobile.svg');
    }

    .review-box {
        width: 327px;
        height: 776px;
        flex-direction: column;
    }
    .head-para{
        margin-top: 25px;
    }

    .rate-box {
        width: 327px;
        height: 266px;
        margin-top: 20px
    }

    .review {
        width: 327px;
        height: 248px;
    }

    .rate {
        width: 327px;
        height: 78px;
        flex-direction: column;
        justify-content: center;
    }

    .top {
        flex-direction: column;
        width: 327px;
        margin-bottom: 49px;
    }

    .text {
        width: 327px;
        text-align: center;
    }

    .star-word {
        margin-bottom: 0px;
    }

    h1 {
        font-size: 32px;
        
        line-height: 32px;
        letter-spacing: -0.5px;
    }
}

@media (min-width:420px) {
    body {
        height: 800px;
        background-image: url('images/bg-pattern-bottom-desktop.svg'), url("images/bg-pattern-top-desktop.svg");
        background-position-x: 100%, 0%;
        background-position-y: 114%, 0%;
    }

    .review-box {
        width: 1110px;
        height: 266px;

    }

    .rate-box {
        width: 540px;
        height: 200px;
        margin-top: 81px
    }

    .review {
        width: 350px;
        height: 234px;
    }

    .rate {
        width: 445px;
        height: 56px;

    }

    .top {
        width: 1110px;
        margin-bottom: 56px;
    }

    #rv2,
    #rt2 {
        align-self: center;
    }

    #rv3,
    #rt3 {
        align-self: flex-end;
    }

    .text {
        width: 450px;
        margin-right: 120px;

    }

    h1 {
        letter-spacing: -2px;
        font-size: 48px;
        margin-top: 69px;
        line-height: 48px;
    }

    .star {
        margin-left: 32px;
    }

    .star-word {
        margin-left: 34px;
    }
}

body {
    background-repeat: no-repeat;
    margin: 0;
    Font-size: 15px;
    font-family: 'Spartan', sans-serif;
    color: hsl(300, 43%, 22%);
}

main {
    height: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.review-box {
    display: flex;
    justify-content: space-between;
}

.review {
    background: hsl(300, 43%, 22%);
    border-radius: 10px;
}

.rate-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rate {
    font-size: 14px;
    font-weight: 700;
    background: hsl(300, 24%, 96%);
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.top {
    display: flex;
}


h1 {
    margin-bottom: 0;
}

.star {
    display: flex;
    width: 116px;
    justify-content: space-between;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

h2 {
    color: hsl(300, 24%, 96%);
    font-weight: 700;
    margin: 0;
    letter-spacing: 0.6px;
    font-size: 12px;
}

h3 {
    color: hsl(333, 80%, 67%);
    font-weight: 400;
    margin: 0;
    letter-spacing: 0.5px;
    font-size: 12px;
}

.user {
    display: flex;
    margin-left: 32px;
    margin-top: 40px;
}

.user-name {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 22px;
}

.para {
    color: hsl(300, 24%, 96%);
    margin: 28px 32px 32px;
    font-size: 12.8px;
    line-height: 21.5px;
}



.head-para {
    color: hsl(303, 10%, 53%);
    margin-top: 14px;
    letter-spacing: -0.52px;
    line-height: 25px;
    font-weight: 500;
}